name: Publish NodeJS to EKS
on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v3

    - name: Install kubectl
      uses: azure/setup-kubectl@v3
      id: install

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
    
    #If null/empty it will be 1.0, otherwise 0.1 will be added
    - name: Read current image Tag
      run: echo "::set-output name=result::$(kubectl get deploy -o wide --no-headers | awk {'print $7'} | awk -F':' '{print ($NF == "") ? "1.0" : $NF + 0.1}')"
      env:
        IMAGE_TAG: ${{ steps.extract_number.outputs.result }}"
    - name: Build.Tag and Push image to Amazon ECR
      env:
        REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        Repository: cmm707
      run: |
        docker build -t $REGISTRY/$Repository:$IMAGE_TAG .
        docker push $REGISTRY/$Repository:$IMAGE_TAG

    - name: Update kube config
      run: aws eks --region us-east-2 update-kubeconfig --name ekscluster_Rif

    # if existing deployment is not deleted, k8s file will not be published as there are no changes
    - name: Delete existing deployment
      run: kubectl delete deployment my-nodejs-app
      
    - name: Deploy to EKS
      run: |
        kubectl apply -f k8s.yaml
